.btn {
  background-color: transparent;
  color: rgb(93, 0, 255);
  border: 0.1px solid rgb(93, 0, 255);
  font-family: monospace;
  padding: 8px 24px;
  font-size: 16px;
}

.btn:hover {
  background-color: rgba(93, 0, 255, 0.15);
}

.chat-panel {
  text-align: left;
  margin: 16px;
}

.user-input {
  padding: 0;
  border: none;
  position: absolute;
  right: 0;
  height: 100%;
  width: 48px;
  border-left: 0;
  margin: 0;
}

.submitting {
  background-color: rgba(93, 0, 255, 0.15);
}

.delete,
.edit {
  border: none;
  padding: 0;
  align-self: center;
  /* background-color: rgb(31, 31, 31); */
}

.delete:hover,
.edit:hover {
  background-color: transparent;
  color: white;
}
