.btn {
  background-color: transparent;
  color: rgb(93, 0, 255);
  border: 0.1px solid rgb(93, 0, 255);
  font-family: monospace;
  padding: 8px 24px;
  font-size: 16px;
}
.submit {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.submitting {
  background-color:  rgba(93, 0, 255, 0.15);
}

.btn:hover {
  background-color: rgba(93, 0, 255, 0.15);
}

.chat-panel {
  text-align: left;
  margin: 16px;
}

.actions {
  border: none;
  padding: 0;
  align-self: center;
}

.actions:hover {
  background-color: transparent;
  color: white;
}
