.history-container {
  height: 100vh;
  background-color: rgb(31, 31, 31);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  /* border-right:  2px solid rgb(93, 0, 255); */
}

.chat-container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  padding: 5px 24px;
  color: rgb(93, 0, 255);
  align-items: baseline;
  position: relative;
}

.chat-container:hover .text-fade {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(40 26 64)
    ); /* fades to history-container bg-color */
}

.chat-container:hover, .chat-container:hover .chat-actions {
  background-color: rgb(40 26 64);
}

.chat {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  margin: 8px 0;
  position: relative;
}

.text-fade {
  width: 12px;
  /* height: 100px; */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(31, 31, 31)
    ); /* fades to history-container bg-color */
}

svg {
  width: 2rem;
}

.chat-menu {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
}

.chat-actions {
  background-color: rgb(31, 31, 31)
}
