.history-container {
  height: 100vh;
  background-color: rgb(31, 31, 31);
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.chat-container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  padding: 5px 24px;
  color: rgb(93, 0, 255);
  align-items: baseline;
  position: relative;
}

.chat-container:hover .text-fade {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(40 26 64)
  ); /* fades to history-container bg-color */
}

.chat-container:hover,
.chat-container:hover .chat-actions {
  background-color: rgb(40 26 64);
}

.chat {
  padding: 1px; /* prepares border space for .title-input border */
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  margin: 8px 0;
  position: relative;
}

.text-fade {
  width: 12px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(31, 31, 31)
  ); /* fades to history-container bg-color */
}

.chat-menu {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
}

.chat-actions {
  background-color: rgb(31, 31, 31);
}

.chat-actions svg {
  margin-left: 8px;
  width: 18px;
  height: 100%;
}

.title-input {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0;
  max-inline-size: 75%;
  outline: none;
  overflow: scroll;
  color: rgb(93, 0, 255);
  background-color: transparent;
  font-family: monospace;
}
