.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;
}

.chat-message {
  padding: 24px 10px;
  /* width: inherit;
  text-align: center; */
}

.chat-message.user {
  background-color: #3f3a48;
  color: rgb(93, 0, 255);
}

.chat-message.assistant {
  color: rgb(220, 220, 220);
}

.messages-container {
  /* flex: 1; */
  overflow-y: auto;
}

.text {
  max-width: 50%;
  margin: 0 auto;
}

.banner {
  background-color: rgb(31, 31, 31);
  border-bottom: 1px solid rgb(93, 0, 255);
  color: rgb(93, 0, 255);
  text-align: center;
  padding: 25px;
  font-size: 20px;
}
