.form-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 45vw;
}

.input-container {
  border: 1px solid #ccc;
  background-color: rgb(40 26 64);
  display: flex;
  max-height: 350px;
  padding: 12px 20px;
}

/* textarea */
.user-input {
  width: calc(100% - 40px);
  background-color: transparent;
  color: rgb(93, 0, 255);
  resize: none;
  border: none;
  font-size: 16px;
  overflow-y: scroll;
}

.user-input:focus-visible {
  outline: none;
}


@media (max-width: 600px) {
  .form-container {
    min-width: 80vw;
  }
}
